.validation-summary-errors {
    border: 1px solid #a94442;
    background-color: #dc3545;
    border-radius: .25rem;
    margin-bottom: 1rem;
}

    .validation-summary-errors ul {
        list-style-type: none;
        padding: .75rem 1.25rem;
        color: #fff;
    }

.location_list {
    list-style: none;
    padding: 0;
    margin: 0;
    -moz-columns: 180px 4;
    columns: 180px 4;
}

    .location_list ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

.location_list_item-wrap {
    padding: 0;
    margin-bottom: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

    .location_list_item-wrap li {
        display: list-item;
        text-align: -webkit-match-parent;
    }

.location_title {
    font-size: 18px;
    color: #3d5af3;
    margin-bottom: 15px;
    padding-left: 10px;
    display: block;
}

.location_list_item {
    font-size: 15px;
    line-height: 21px;
    color: #2f1f19;
    padding: 0 27px 0 10px;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
    word-break: break-word
}

    .location_list_item:hover {
        color: #3d5af3
    }

.fc-container .fancybox-bg {
    background: #eee;
}

.fancybox-is-open.fc-container .fancybox-bg {
    opacity: 0.95;
}

.fc-content {
    margin: 20px;
    max-width: 550px;
    padding: 25px;
    box-shadow: 10px 10px 60px -25px;
    border-radius: 4px;
}

    .fc-content h3 {
        margin-top: 0;
        font-size: 1.6em;
        letter-spacing: normal;
    }

    .fc-content p {
        color: #666;
        line-height: 1.5;
    }

        .fc-content p:last-child {
            margin-bottom: 0;
        }

/* Custom animation */
.fancybox-fx-material.fancybox-slide--previous,
.fancybox-fx-material.fancybox-slide--next {
    transform: translateY(-60px) scale(1.1);
    opacity: 0;
}

.fancybox-fx-material.fancybox-slide--current {
    opacity: 1;
    transform: translateY(0) scale(1);
}
.table-form > tbody > tr > td:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
    text-align: right;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0
}

    .table-form > tbody > tr > td:nth-child(odd) > label {
        display: block;
        margin-bottom: 0;
        font-size: .875em
    }

.table-form > tbody > tr > td:nth-child(even) {
    padding: 0
}

    .table-form > tbody > tr > td:nth-child(even) > .custom-select, .table-form > tbody > tr > td:nth-child(even) > .form-control {
        border: 0
    }

.table-form > tbody > tr > td:nth-child(even) {
}

.table-form-custom > tbody > tr > td:nth-child(odd) {
    background-color: rgba(0,0,0,.05);
    vertical-align: middle;
    width: 1%;
    white-space: nowrap;
    text-align: right;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0
}

.bd-example-modal-lg .modal-dialog {
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
}

    .bd-example-modal-lg .modal-dialog .modal-content {
        background-color: transparent;
        border: none;
    }
body {
    font-family: 'Gilroy-Light', sans-serif;  
}
@font-face {
    font-family: Gilroy-Light;
    src: url("../dist/font/Gilroy-Light.otf") format("opentype");
}
@font-face {
    font-family: Gilroy-Light;
    src: url("../dist/font/Gilroy-Medium.otf") format("opentype");
    font-weight:bold;
}
.brand-link {
    background-color: #FF003C;
}
