
@using KontaktHome.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kontakt Home</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Date time picker css  -->
    <link href="~/plugins/datetimepicker/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
    <link href="~/plugins/datetimepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/plugins/datetimepicker/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <link href="~/plugins/datetimepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!--Data Table-->
    <link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <!--Alert-->
    <link href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css" rel="stylesheet" />

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <!--Custom Scripts-->
    <script src="~/Scripts/MyScripts.js"></script>
    <!--Alert-->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item"> <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a> </li>
                <li class="nav-item d-none d-sm-inline-block"> <a href="/Home/Index" class="nav-link">Home</a> </li>
                <li class="nav-item d-none d-sm-inline-block"> <a href="#" class="nav-link">Contact</a> </li>
            </ul>


        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="/dist/img/default-150x150.png" alt="KontaktHome Logo" class="brand-image elevation-0"
                     style="opacity: .8"> <span class="brand-text font-weight-light">LOGO</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image"> <img src="/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"> </div>
                    <div class="info"> <a href="#" class="d-block">@CurrentSession.User.UserDisplayName</a> </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <!-- Section 1-->
                        <li id="sidemenu1" class="nav-item has-treeview ">
                            <a id="sidemenu1_1" href="#" class="nav-link ">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p> Section1 <i class="right fas fa-angle-left"></i> </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="newOrder" href="/Order/NewOrder" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yeni Sifariş</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="activeOrders" href="/Order/ActiveOrders" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Sifarişlər</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a id="visitorOrders" href="/Order/VisitorOrders" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Vizitor Sifarişləri</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- Section 2-->
                        <li id="sidemenu2" class="nav-item has-treeview ">
                            <a id="sidemenu2_1" href="#" class="nav-link ">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p> Section1 <i class="right fas fa-angle-left"></i> </p>
                            </a>
                        </li>
                        <!-- Section 3-->
                        <li id="sidemenu3" class="nav-item has-treeview ">
                            <a id="sidemenu3_1" href="#" class="nav-link ">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p> Section1 <i class="right fas fa-angle-left"></i> </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2020 <a href="">Kontakt Home</a>.</strong> All rights reserved.
            <div class="float-right d-none d-sm-inline-block"> <b>Version</b> 1.0.1 </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- InputMask -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>
    <!-- date time picker js-->
    <script src="~/plugins/datetimepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/datetimepicker/locales/bootstrap-datepicker.az.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.min.js"></script>
    <script src="~/Scripts/MyScripts.js"></script>
    <script>
        $(function () {

            //Initialize Select2 Elements
            $('.select2').select2()

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
            $('#telno1').inputmask("(999)999-99-99")
            $('#telno2').inputmask("(999)999-99-99")
            //Datemask dd/mm/yyyy
            $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            //Datemask2 mm/dd/yyyy
            $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
            //Money Euro
            $('[data-mask]').inputmask()
            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            });

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });


        })
    </script>
</body>
</html>
