
@{
    ViewBag.Title = "VisitorOrders";
}

<script>
    document.getElementById('sidemenu1').className = 'nav-item has-treeview menu-open';
    document.getElementById('sidemenu1_1').className = 'nav-link active';
    document.getElementById('visitorOrders').className = 'nav-link active';

</script>
<div class="row">
    @if (ViewBag.Status == "1")
    {
        <script>
            Swal.fire(
                'Qeyd Yeniləndi!',
                '',
                'success'
            )
        </script>
    }
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="table-responsive" id="visitorOrdersPrint">
                        <table id="tableVisitorOrders" class="display" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tarix</th>
                                    <th>Sənəd No</th>
                                    <th>Müştəri Adı</th>
                                    <th>Müştəri Soyadı</th>
                                    <th>Müştəri Ata Adı</th>
                                    <th>Tel No</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



